<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>{{ 'country'|trans }}</th>
            <th>{{ 'currency'|trans }}</th>
            <th>{{ 'purchase'|trans }}</th>
            <th>{{ 'tendency.purchase'|trans }}</th>
            <th>{{ 'sale'|trans }}</th>
            <th>{{ 'tendency.sale'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>{{ row.country }}</td>
            <td>{{ row.currency }}</td>
            <td>{{ row.purchase|number_format(4) }}</td>
            <td>{{ row.purchaseTendency }}</td>
            <td>{{ row.sale|number_format(4) }}</td>
            <td>{{ row.saleTendency }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>